{% extends '_Base.html' %}
{% load static %}
{% block title %}
    Emoji Survey
{% endblock title %}

{% block extra_styles %}
    <style>
        .emoji-container {
            text-align: center;
            margin-top: 700px;
        }

        .emoji-container label {
            font-size: 169px;
            cursor: pointer;
            padding: 9px;
            margin-top: 5rem;
            transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
            display: inline-block;
        }

        .emoji-container input[type="radio"] {
            display: none;
        }

        .emoji-container input[type="radio"]:checked + label {
            transform: scale(1.3);
            border: 3px solid #007bff;
            border-radius: 50%;
            background-color: #f0f8ff;
            box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
        }

        .custom-submit-btn {
            background-color: #007bff;
            color: white;
            padding: 15px 30px; /* فضای داخلی دکمه */
            font-size: 3rem;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 3rem;
        }

        .custom-submit-btn:hover {
            background-color: #0056b3;
        }

        .custom-logo {
            width: 220px; /* عرض لوگو */
            height: auto; /* ارتفاع به طور خودکار بر اساس عرض تنظیم می‌شود */
        }

        .custom-title {
            margin-top: 12rem;
        }
    </style>
{% endblock extra_styles %}

{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 text-start">
                <img src="{% static 'images/IMG_20240812_122333_671.png' %}" alt="Logo 1" class=" custom-logo"
                     style="max-width: 300px; ">
            </div>
            <div class="col-lg-5 text-center custom-title">
                <h2 class="mt-3">فرم نظر سنجی</h2>
                <h2 class="mt-3">عنوان دوره: چگونه دانش بنیان شویم؟</h2>
            </div>
            <div class="col-lg-3 text-end">
                <img src="{% static 'images/IMG_20240812_122335_585.png' %}" alt="Logo 2" class=" custom-logo"
                     style="max-width: 300px;">
            </div>
        </div>

        <form method="post" class="emoji-container mt-4">
            {% csrf_token %}
            {% for value, label in form.fields.emoji.choices %}
                <input type="radio" name="{{ form.emoji.name }}" id="emoji_{{ forloop.counter }}" value="{{ value }}">
                <label for="emoji_{{ forloop.counter }}">{{ label }}</label>
            {% endfor %}
            <div class="submit-btn-container mt-4">
                <button type="submit" class="custom-submit-btn">ثبت</button>
            </div>
        </form>
    </div>
{% endblock content %}

