{% extends '_Base.html' %}
{% block title %}
    Emoji Survey
{% endblock title %}

{% block extra_styles %}
        <style>
        .emoji-container {
            text-align: center;
            margin-top: 200px;
        }

        .emoji-container label {
            font-size: 8rem;
            cursor: pointer;
            padding: 10px;
            transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
            display: inline-block;
        }

        .emoji-container input[type="radio"] {
            display: none;
        }

        .emoji-container input[type="radio"]:checked + label {
            transform: scale(1.3);
            border: 3px solid #007bff;
            border-radius: 50%;
            background-color: #f0f8ff;
            box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
        }

        .submit-btn-container {
            text-align: center;
            margin-top: 50px;
        }
    </style>
{% endblock extra_styles %}

{% block content %}
    <div class="container">
        <h2 class="text-center mt-5">فرم نظر سنجی </h2>
        <form method="post" class="emoji-container">
            {% csrf_token %}
            <!-- نمایش ایموجی‌ها به صورت گزینه‌های رادیویی -->
            {% for value, label in form.fields.emoji.choices %}
                <input type="radio" name="{{ form.emoji.name }}" id="emoji_{{ forloop.counter }}" value="{{ value }}">
                <label for="emoji_{{ forloop.counter }}">{{ label }}</label>
            {% endfor %}
            <div class="submit-btn-container">
                <button type="submit" class="btn btn-primary btn-lg"> ثبت </button>
            </div>
        </form>
    </div>
{% endblock content %}
